.btn-green {
  background-color: #54a961;
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
  display: inline-block;
  transition: all 100ms ease;
}

.btn-green:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transform: translateY(-1px);
}