/* Card 1 */
.card-category {
  height: 200px;
  color: white;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

/* Card 2 */
.card-product {
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card-info {
  padding-left: 20px;
}

.card-product img {
  width: 200px;
}

.card-info h2 {
  margin: 0;
}